* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Tahoma, Arial, Roboto, "Droid San", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self, "微软雅黑";
}
@font-face {
  font-family: '方正姚体简体';
  src: url('../font/FZYTJW.TTF');
}
@font-face {
  font-family: '微软雅黑';
  src: url('../font/msyh.ttf');
}
html {
  font-size: 100px;
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 112.5px !important;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 117.187px !important;
  }
}
@media only screen and (min-width: 412px) {
  html {
    font-size: 128.75px !important;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 240px !important;
  }
}
body {
  font-family: "微软雅黑";
  font-size: 0.12rem;
}
a {
  text-decoration: none;
  margin-left: -0.04rem;
}
a:hover,
a:focus {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
#content {
  width: 3.2rem;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.top-operation {
  height: 0.3rem;
  background-color: #1b1b1f;
  line-height: 0.3rem;
  position: relative;
}
.top-operation p {
  font-size: 0.14rem;
  color: white;
  text-align: center;
}
.top-operation span {
  position: absolute;
  left: 10px;
  color: #666666;
}
.progress {
  margin-top: 0.04rem;
  height: 0.08rem;
  border-radius: 0.1rem;
  background-color: #e6e6e6;
  position: relative;
}
.progress .progress-bar {
  height: 100%;
  border-radius: 0.1rem;
  background-color: #ff6600;
  position: absolute;
  left: 0;
  top: 0;
}
.progress .progress-bar-red {
  background-color: #D6232D;
}
.progress-white {
  background-color: white;
}
