* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Tahoma, Arial, Roboto, "Droid San", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-self, "微软雅黑";
}
@font-face {
  font-family: '方正姚体简体';
  src: url('../font/FZYTJW.TTF');
}
@font-face {
  font-family: '微软雅黑';
  src: url('../font/msyh.ttf');
}
html {
  font-size: 100px;
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 112.5px !important;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 117.187px !important;
  }
}
@media only screen and (min-width: 412px) {
  html {
    font-size: 128.75px !important;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 240px !important;
  }
}
body {
  font-family: "微软雅黑";
  font-size: 0.12rem;
}
a {
  text-decoration: none;
  margin-left: -0.04rem;
}
a:hover,
a:focus {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
#content {
  width: 3.2rem;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
}
.top-operation {
  height: 0.3rem;
  background-color: #1b1b1f;
  line-height: 0.3rem;
  position: relative;
}
.top-operation p {
  font-size: 0.14rem;
  color: white;
  text-align: center;
}
.top-operation span {
  position: absolute;
  left: 10px;
  color: #666666;
}
.progress {
  margin-top: 0.04rem;
  height: 0.08rem;
  border-radius: 0.1rem;
  background-color: #e6e6e6;
  position: relative;
}
.progress .progress-bar {
  height: 100%;
  border-radius: 0.1rem;
  background-color: #ff6600;
  position: absolute;
  left: 0;
  top: 0;
}
.progress .progress-bar-red {
  background-color: #D6232D;
}
.progress-white {
  background-color: white;
}
.object-pic {
  height: 1.8rem;
  border-bottom: 1px solid #666;
}
.object-pic img {
  height: 100%;
}
.input-info {
  color: #666666;
}
.input-info .info,
.input-info .input {
  border-bottom: 1px dashed #e6e6e6;
  padding: 0 15px;
}
.input-info .input {
  height: 0.3rem;
  line-height: 0.3rem;
}
.input-info .input span {
  height: 0.3rem;
  overflow: hidden;
}
.input-info .input .left {
  width: 85%;
}
.input-info .input .right {
  width: 15%;
  text-align: right;
}
.input-info .input:last-child .right {
  width: 100%;
  text-align: right;
}
.input-info .input .money {
  font-size: 0.15rem;
  color: #E09137;
}
.input-info .input #userName {
  width: 100%;
}
.input-info .input button {
  width: 0.2rem;
  margin: 0 4px;
}
.input-info .input input[type="text"] {
  border: none;
  border-radius: 0.02rem;
  background-color: #f1f1f1;
  height: 0.2rem;
  width: 4em;
  text-indent: 0.1rem;
}
.input-info .input input[type="number"] {
  text-indent: 0.5em;
  border-radius: 0.03rem;
  height: 0.2rem;
  width: 0.4rem;
}
.input-info .input .right img {
  width: 1.26rem;
  margin-top: 0.05rem;
}
.input-info .operation #number {
  margin: 0 1px;
}
.input-info .operation input[type="button"] {
  width: 0.2rem;
  height: 0.2rem;
}
.input-info .operation .left {
  width: 60%;
}
.input-info .operation .right {
  width: 40%;
  text-align: right;
}
.input-info .info {
  height: 0.6rem;
  overflow: hidden;
  line-height: 0.26rem;
}
.input-info .info .money {
  color: #E09137;
}
.input-info .info .text-black {
  color: black;
}
.list-group {
  background-color: #e6e6e6;
  box-sizing: border-box;
  padding: 10px;
}
.list-group .list-item {
  margin-top: 10px;
  border-radius: 0.04rem;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
}
.list-group .list-item:first-child {
  margin-top: 0;
}
.list-group .list-item:last-child {
  height: 1.25rem;
  text-align: center;
}
.list-group .list-item:last-child img {
  width: 2.18rem;
}
.list-group .list-item .show-pic {
  border-radius: 0.03rem;
  height: 1.28rem;
  overflow: hidden;
}
.list-group .list-item .show-pic img {
  width: 100%;
}
.list-group .list-item .item-title {
  clear: both;
  height: 0.26rem;
  line-height: 0.26rem;
  color: #666666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px dashed #e6e6e6;
  font-size: 0.1rem;
}
.list-group .list-item .item-title span {
  font-size: 0.14rem;
}
.list-group .list-item .item-operation {
  height: 0.2rem;
  line-height: 0.3rem;
  font-size: 0.1rem;
  color: #666666;
}
.list-group .list-item .item-operation .money {
  font-size: 0.16rem;
  color: #E09137;
}
.list-group .list-item .item-operation .btn {
  float: right;
}
.list-group .list-item .item-operation .btn img {
  margin-top: 0.03rem;
  width: 1.35rem;
}
/*# sourceMappingURL=details.css.map */